:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

$screen-sm-min: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

$gap: 0.5rem;

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
  @include sm {
    position: absolute;
    bottom: 0.5rem;
    z-index: 1;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.between {
  display: flex;
  justify-content: space-between;
  column-gap: $gap;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  width: 30vw;
}

.square {
  padding: 1rem;
  background-color: #333;
}

.food {
  background-color: red;
}

.snake {
  background-color: green;
}

.header {
  text-align: center;
}

.score {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.gameover {
  color: red;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.1rem;
}

h1 {
  margin: 0;
}

.github {
  width: 1.5rem;
  height: 1.5rem;
}

a {
  color: white;
  &:hover {
    color: #646cff;
  }
}
